*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: 'Lexend Deca', sans-serif;
}

